/* fonts.css */

/* Import the custom font */
@font-face {
    font-family: 'Oxygen';
    src: url('intranet/src/assets/Font/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply the custom font to the entire website */
  html, body, h1, h2, p, td, th, table, tbody, input, span {
    font-family: 'Oxygen';
    box-sizing: border-box;
  }
  