.book-hub-container {
    padding: 20px;
    background-image: url('../assets/bgimage.jpg');
    background-size: cover;  /* Ensures the image covers the container */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
  }
  .book-link {
    text-decoration: none;
  }
  
  @media (max-width: 1024px) {
    .book-list {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 600px) {
    .book-list {
      grid-template-columns: 1fr; 
    }
  }