.Staff-Criteria th {
  text-align: left;
}

.scrollable-tables {
  display: flex;
  /* Align tables horizontally */
  overflow-x: auto;
  /* Enable horizontal scrolling */
  gap: 10px;
  /* Space between the tables */
}

.static-table-wrapper {
  position: sticky;
  /* Sticky positioning to keep it in place */
  left: 0;
  /* Keep it at the start */
  z-index: 1;
  /* Ensure it stays above other content */
  background-color: #caf0f8;
  /* Optional: Add a background color */
}

.table-wrapper {
  flex: 0 0 auto;
  /* Prevent tables from shrinking */
  width: 40%;
  /* Ensure tables take up the full screen width */

}

.table-wrapper-scroll {
  flex: 0 0 auto;
  /* Prevent tables from shrinking */
  width: auto;
  /* Ensure tables take up the full screen width */

}

table {
  margin-bottom: 2px;
}

/* Specific table width adjustment */
.table-wrapper-table {
  width: auto;
  /* Adjust this value as needed to reduce the width */
}

.table-wrapper-table th {
  height: 28px;
}

/* Adjust the width of table cells in the specific table */
.table-wrapper-table th,
.table-wrapper-table td {
  padding: 5px;
  /* Adjust padding for compact spacing */
}

/* Styles for the static table */
.static-table {
  font-size: 10px;
  /* Reduce font size for static table */
}

.static-table th,
.static-table td {
  padding: 10px;
  /* Reduce padding for more compact rows and columns */
  width: 200px;
  /* Adjust column width */
}

th,
td {
  border: 2px solid #ffffff;
  text-align: center;
  color: #ffffff;
}

th {
  background-color: #0077b6;
  color: #ffffff;
}

.Staff-Criteria-collums th {
  background-color: #00b4d8;
  color: #ffffff;
}

.table-wrapper-table-collums th {
  background-color: #00b4d8;
  color: #ffffff;
}

.custom-row td {
  padding: 50px;
  /* Increase padding for larger row size */
  font-size: 16px;
  /* Adjust font size if needed */

}

.custom-row {
  height: 50px;
  /* Increase row height */
}

.Payout-ratio-row {
  background-color: #173b45;
}

.life-row {
  font-weight: bold;
  color: #0077b6;
}

.Expense-Ratio-row {
  background-color: #379777;
}

.Total-Shareholder-surplus-row {
  background-color: #5472a0;
  font-weight: 400;
}

.Payout-ratio-row-data {
  background-color: #173b4574;
  font-weight: 500;
  color: #000;
}

.Expense-Ratio-row-data {
  background-color: #37977798;
  font-weight: 500;
  color: #000;
}

.Total-Shareholder-surplus-row-data {
  background-color: #5472a095;
  font-weight: 500;
  color: #000;
}

.custom-row-content {
  color: #000;
  font-weight: 500;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column>div {
  background: rgb(24, 131, 68);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}