.sub-notice-head {
  margin-left: 5px;
  text-align: left;
  font-size: 15px;
  color: white;
  margin-top: 1px; 
  margin-bottom: 1px; 
}

.transparent-container {
  background-color: transparent; 
  padding: 20px;
  border-radius: 10px;
}

.box-content {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin-top: -30px;
}

.hr-notice-head {
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  margin-top: 4px;
}

.aa {
  display: flex;
  flex-direction: column;
}

.notice-list {
  list-style-type: none;
  padding: 0;
}

.notice-item {
  background-color: white;
  margin: 10px 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.notice-button {
  background-color: white;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.notice-button:focus {
  outline: none;
}

/* .notice-button:hover {
  background-color: #f0f0f0;
} */

.notice-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5%; 
  height: 100%;
  background-color: #A5A5A5; 
  border-radius: 0 10px 10px 0;
}

.notice-topic {
  max-width: 100%;
  font-family: "Oxygen";
  margin-top: 5px; 
  margin-bottom: 5px;
  font-size: 16px;
}

.notice-content {
  text-align: justify;
  white-space: pre-wrap;
  line-height: 20px;
  font-family: "Oxygen";
  padding-right: 60px;
  font-size: 14px;
  
}
