.sub-notice-head {
    margin-left: 5px;
    text-align: left;
    font-size: 22px;
    color: white;
}

.transparent-container {
    background-color: transparent !important;
}
  
.box-content {
    background-color: rgba(207, 232, 252, 0.2); /* Adjust alpha value for transparency */
    padding: 2rem;
    border-radius: 10px;
}
  
.notice-head {
    text-align: left;
    margin-left: 5px;
    font-size: 28px;
    font-weight: bold;
    color: white;
  }