.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
    margin-top: 50px;
    margin-left: -25px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    
}

.card img {
    width: 50%;
    height: auto;
}

.content {
    padding: 16px;
    text-align: center;
}

.title {
    font-size: 16px;
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

p {
    margin-top: -1px;
    font-size: 16px;
}
