.services-full-Page {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-image: url('../assets/bgimage.png'); /* Replace with your image path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image from repeating */
 
}

.services-container {
  background-color: #c1dff5;
  padding: 20px;
}

.section-names {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;

}

.services-title {
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px 5px 10px;
  background-color: #0c4d72;
  font-size: 20px;
  cursor: pointer;
  margin: 0 15px;
  transition: color 0.3s;
}

.services-title.selected {
  align-content: center;
  height: 50px;
}

.services-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.service-card {
  width: 30%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.service-title {
  margin-top: 10px;
  font-size: 24px;
  color: #333;
}

.services-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 'calc(50% - 10px)';
}

.service-button {
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 'calc(50% - 10px)';
}

.service-button:hover {
  background-color: #007bff;
  color: white;
}

.service-button.clicked {
  background-color: #0056b3;
  color: white;
  font-weight: bold;
}

.service-content {
  margin-top: 30px;
  padding: 20px;
}