



.hrText {
    display: inline-block;
    align-items: center;
    font-size: 24px; /* Increase this value to make the text larger */
    color: blue; /* Change this color to your desired text color */
    vertical-align: middle;
    margin: 0 10px; /* Adjust the space around the text if needed */
}
