.quote-container {
  background-image: url('');
  background-size: cover;
  background-position: center;
  padding: 40px;
  text-align: left;
  border-radius: 15px;
  color: white;
  position: relative;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-text {
  font-size: 24px;
  font-style: italic;
  margin: 0;
}

.quote-author {
  margin-top: 10px;
  font-size: 18px;
}

.quote-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c4d72;
  border-radius: 15px;
}

.quote-container > * {
  position: relative;
  z-index: 1;
}
