.idea-hub-table {
  width: 80%; /* Reduce table width to 80% of its container */
  margin: 0 auto; /* Center the table horizontally */
  border-collapse: collapse;
}

/* Adjusting column widths */
.small-column {
  width: 10%; /* Narrow width for smaller columns */
}

.medium-column {
  width: 15%; /* Medium width for the Name column */
}

.large-column {
  width: 55%; /* More space for the User Idea column */
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #ff4c4c; /* Red background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 8px 12px; /* Padding */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  transition: background-color 0.3s ease; /* Transition effect */
}

.delete-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}

.bold-text {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.download-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.download-button:hover {
  background-color: #45a049;
}

/* AdminIdeaHub.css */

.filter-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.filter-button.green {
  background-color: green;
}

.filter-button.orange {
  background-color: orange;
}

.filter-button.red {
  background-color: red;
}

.filter-button:hover {
  opacity: 0.8;
}

.search-bar {
  display: block;
  margin: 20px auto; /* Centers the search bar horizontally */
  padding: 8px;
  width: 50%; /* Adjust the width as needed */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: center; /* Centers the button group */
  margin-bottom: 20px;
}

.idea-hub-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.pagination-controls {
  display: flex;
  justify-content: center; /* Centers the pagination controls */
  margin: 20px 0;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers the download button */
  margin-top: 20px;
}

